

.container {
    
    height: 19.5rem;
    background-color: #161515;
  padding: 10em;
  
  
    
  }
  
  .playlistTitle {
    font-size: 30px; 
    margin-bottom: 10px; 
    color: white;
    text-align: center;
    
  }
  
  .cardContainer {
    display: flex;
    justify-content: flex-end;
    gap:30px

 
    
  }
  
  .card {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 100px;
    height: 10em;
  }
  
  .card img {
    width: 100%; 
    height: 90em; 
    max-height: 100%; 
  }